In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [21]:
!pip install quandl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: quandl in c:\users\sanja\appdata\roaming\python\python311\site-packages (3.7.0)
Requirement already satisfied: pandas>=0.14 in c:\programdata\anaconda3\lib\site-packages (from quandl) (1.5.3)
Requirement already satisfied: numpy>=1.8 in c:\programdata\anaconda3\lib\site-packages (from quandl) (1.24.3)
Requirement already satisfied: requests>=2.7.0 in c:\programdata\anaconda3\lib\site-packages (from quandl) (2.31.0)
Requirement already satisfied: inflection>=0.3.1 in c:\programdata\anaconda3\lib\site-packages (from quandl) (0.5.1)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from quandl) (2.8.2)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from quandl) (1.16.0)
Requirement already satisfied: more-itertools in c:\programdata\anaconda3\lib\site-packages (from quandl) (8.12.0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.14->quandl) (2022.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2023.7.22)

DEPRECATION: Loading egg at c:\programdata\anaconda3\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

In [22]:
import quandl

In [23]:
data=quandl.get("NSE/TATAGLOBAL")

In [24]:
data

,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
Date,,,,,,,
2010-07-21,122.10,123.00,121.05,121.10,121.55,658666.0,803.56
2010-07-22,120.30,122.00,120.25,120.75,120.90,293312.0,355.17
2010-07-23,121.80,121.95,120.25,120.35,120.65,281312.0,340.31
2010-07-26,120.10,121.00,117.10,117.10,117.60,658440.0,780.01
2010-07-27,117.60,119.50,112.00,118.80,118.65,586100.0,694.98
...,...,...,...,...,...,...,...
2018-12-31,222.00,223.65,218.85,219.55,219.40,965858.0,2131.09
2019-01-01,219.95,221.05,218.05,218.95,219.10,716275.0,1571.63
2019-01-02,219.00,220.35,213.60,214.20,214.60,1081778.0,2340.31
2019-01-03,214.95,215.35,209.90,210.55,210.05,2096553.0,4433.50
2019-01-04,210.60,214.90,210.00,213.50,213.80,1213181.0,2583.05

In [25]:
data['Open - Close'] = data['Open']-data['Close']
data['High - Low'] = data['High']-data['Low']
data=data.dropna()

In [26]:
x=data[['Open - Close','High - Low']]
x.head()

            Open - Close  High - Low
Date
2010-07-21          0.55        1.95
2010-07-22         -0.60        1.75
2010-07-23          1.15        1.70
2010-07-26          2.50        3.90
2010-07-27         -1.05        7.50

In [27]:
y=np.where(data['Close'].shift(-1)>data['Close'],1,-1)

In [28]:
y

array([-1, -1, -1, ..., -1,  1, -1])

In [32]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25,random_state = 44)

In [36]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import neighbors
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
params = {'n_neighbors': [2,3,4,5,6,7,8,9,10, 11, 12, 13, 14, 15]}
knn = neighbors.KNeighborsClassifier()
model = GridSearchCV(knn, params, cv=5)
model.fit(x_train, y_train)
accuracy_train = accuracy_score (y_train, model.predict(x_train))
accuracy_test = accuracy_score (y_test, model.predict(x_test))
print ('Train_data Accuracy: %.2f' %accuracy_train)
print ('Test_data Accuracy: %.2f' %accuracy_test)

Train_data Accuracy: 0.67
Test_data Accuracy: 0.51

In [39]:
predictions_classification = model.predict(x_test)

In [40]:
actual_predicted_data = pd.DataFrame({'Actual Class':y_test, 'Predicted Class':predictions_classification})

In [41]:
actual_predicted_data.head(10)

   Actual Class  Predicted Class
0            -1                1
1             1                1
2             1               -1
3             1                1
4            -1               -1
5            -1               -1
6            -1                1
7            -1               -1
8            -1                1
9             1               -1